/*
* 
* @author Jamilton Damasceno
*/
html,
body,
#home {
    height: 100%;
    overflow-x: hidden;
}

header #cabeca {
    padding: 20px 0;
    position: absolute;
    height: 150px;
}

header img:hover {
    transform: scale(1.1);
    transition: .3s;
}

body {
    background: url("../imagens/capa2.jpg"),
        linear-gradient(50deg, #e4d4a0, #dfb305);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

nav.navbar-transparente {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 0;
}

nav.navbar-transparente .navbar-nav .nav-link {
    color: white;
    border-top: 1px solid #dfb305;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    text-align: center;
}

nav.navbar-transparente .navbar-nav .nav-link:hover {
    /*margin-top: -3px;*/
    margin-bottom: -3px;
    margin-top: -3px;
    color: #dfb305;
    border-top: 0px solid #dfb305;
    border-bottom: 3px solid #dfb305;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.3);
}

nav.navbar-transparente .navbar-toggler {
    color: rgba(0, 0, .5);
    border-color: rgba(255, 255, 255, .5);
}

.divisor {
    width: 1px;
    background: #fff;
    margin: 12px 15px;
}

/*CAPA*/
.btn-custom {
    color: white;
    border-radius: 500px;
    text-transform: uppercase;
    transition: 0.4s, color 0.4s;
    padding: 10px 15px;
}

.btn-roxo {
    background: #dfb305;
    border: 2px solid #dfb305;
    color: black;
    font-style: bold;
}

.btn-roxo:hover {
    background: #e4d4a0;
    border: 2px solid #dfb305;
    color: black;
    font-style: bold;
}

.btn-branco {
    border: 2px solid white;
}

.btn-branco:hover {
    background: rgb(233, 226, 226);
    border: 2px solid rgb(233, 226, 226);
    color: black;
}

.capa {
    text-align: center;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;
}

/*ESTRUTURA DE CONTEÚDOS*/
.caixa {
    padding-top: 20px;
    padding-bottom: 20px;
}

#linguica {
    height: 724px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.0);
}

#home h1#topo {
    margin-top: 200px;
    font-size: 4em;
}

#home h1 {
    font-size: 4em;
}

#about {
    background: url("../imagens/capa3.jpg"),
        linear-gradient(50deg, #e4d4a0, #dfb305);
    height: 780px;
}

#about h2,
h3 {
    color: #dfb305;
}

#about p {
    color: #ccc;
    font-size: 1em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 10px;
}

#about p:hover {
    color: #dfb305;
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    border-radius: 20px;
    padding: 8px;
    transition: .3s;
}

#about img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#about img:hover {
    transform: scale(1.15);
    transition: .2s;
    border-radius: 10px;
}

#p1 {
    width: 700px;
}

#p2 {
    width: 700px;
}

#contato h3 {
    color: #dfb305;
}

#contato h2 {
    color: white;
}

#contato {
    color: white;
}

.rotacionar {
    transform: rotate(30deg);
    padding-left: 80px;
}

.rotacionar:hover {
    transform: rotate(390deg);
    padding-left: 80px;
    transition: .5s;
}

.icons {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 80px;
}

.icons h2 {
    font-size: 2.2em;
}

.icons p {
    margin-top: -10px;
    font-size: 1.2em;
}

/*TIPOGRAFIA*/
h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#contato h2 {
    font-size: 4em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#contato h3 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#contato p {
    font-size: 1.6em;
}

#contato p:hover {
    color: #dfb305;
    font-size: 2em;
}

#contato a:visited {
    color: white
}

#contato a:hover {
    color: #dfb305;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .btn-custom {
        margin: 10px 15px;
        font-size: 1em;
    }

    #home h1#topo {
        margin-top: 100px;
        font-size: 3em;
    }

    #home h1 {
        font-size: 3em;
    }

    #home .container .row .capa #carousel-spotify .carousel-inner .carousel-item img {
        width: 350px !important;
        height: 400px !important;
    }

    #contato h2 {
        margin-left: 70px;
        font-size: 2.5em;
        font-weight: 700;
        letter-spacing: -0.04em;
    }

    #contato h3 {
        margin-left: 90px;
        font-size: 1.7em;
        font-weight: 700;
        letter-spacing: -0.04em;
    }

    #contato p {
        margin-left: 110px;
        font-size: 1.3em;
    }

    #contato p:hover {
        color: #dfb305;
        font-size: 1em;
    }

    #linguica {
        height: 498px;
        border: 10px solid;
        margin-top: -6px;
        border-color: rgba(0, 0, 0, 0.0);
    }

    #images img {
        border-radius: 25px;
        width: 250px !important;
        height: 350px !important;
        margin-left: 75px;
    }

    #about p {
        color: #ccc;
        font-size: 0.7em;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        padding: 3px;
    }

    #about p:hover {
        color: #dfb305;
        font-size: 1em;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1;
        border-radius: 20px;
        padding: 6px;
        transition: .3s;
    }

    #p1 {
        width: 380px;
    }

    #p2 {
        width: 380px;
    }

    #about {
        height: auto;
    }

    #imagemModalImg {
        max-height: calc(100vh - 50px);
        display: block;
        margin: 0 auto;
        padding: 0px;
        margin-top: 100px;
    }

    img#imagemModalImg {
        margin-top: 200px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 3em;
    }

    .btn-custom {
        margin: 10px 15px;
    }

    #home h1#topo {
        margin-top: 100px;
        font-size: 3em;
    }

    #home h1 {
        font-size: 3em;
    }

    #home .container .row .capa #carousel-spotify .carousel-inner .carousel-item img {
        width: 450px !important;
        height: 500px !important;
    }

    #contato h2 {
        margin-left: 100px;
        font-size: 3.5em;
        font-weight: 700;
        letter-spacing: -0.04em;
    }

    #contato h3 {
        margin-left: 150px;
        font-size: 1.9em;
        font-weight: 700;
        letter-spacing: -0.04em;
    }

    #contato p {
        margin-left: 170px;
        font-size: 1.5em;
    }

    #contato p:hover {
        color: #dfb305;
        font-size: 1em;
    }

    #linguica {
        height: 598px;
        border: 1px solid;
        margin-top: -1px;
        border-color: rgba(0, 0, 0, 0.0);
    }

    #images img {
        border-radius: 25px;
        width: 350px !important;
        height: 500px !important;
        margin-bottom: 10px;
    }

    #images {
        border-radius: 25px;
        margin-left: -50px;
    }

    #images img {
        border-radius: 25px;
        margin-left: 200px;
        margin-bottom: -10px;
        width: 100%;
        height: auto;
        cursor: pointer !important;
        position: relative;
        z-index: 1;
    }

    #about p {
        color: #ccc;
        font-size: 0.9em;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        padding: 3px;
    }

    #about p:hover {
        color: #dfb305;
        font-size: 1em;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1;
        border-radius: 20px;
        padding: 6px;
        transition: .3s;
    }

    #p1 {
        width: 530px;
    }

    #p2 {
        width: 530px;
    }

    #about {
        height: auto;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 4em;
    }

    #home h1#topo {
        margin-top: 100px;
        font-size: 3em;
    }

    #home h1 {
        font-size: 3em;
    }

    #home .container .row .capa #carousel-spotify .carousel-inner .carousel-item img {
        width: 550px !important;
        height: 550px !important;
    }

    #contato h2 {
        font-size: 2.6em;
        font-weight: 700;
        letter-spacing: -0.04em;
    }

    #contato h3 {
        font-size: 1.9em;
        font-weight: 700;
        letter-spacing: -0.04em;
    }

    #contato p {
        font-size: 1.5em;
    }

    #contato p:hover {
        color: #dfb305;
        font-size: 1em;
    }

    #linguica {
        height: 648px;
        border: 1px solid;
        margin-top: -20px;
        border-color: rgba(0, 0, 0, 0.0);
    }

    #images img {
        border-radius: 25px;
    }

    #images {
        border-radius: 25px;
        margin-left: -150px;
    }

    #images img {
        border-radius: 25px;
        margin-left: 200px;
        margin-bottom: -10px;
        width: 100%;
        height: auto;
        cursor: pointer !important;
        position: relative;
        z-index: 1;
    }

    #about p {
        color: #ccc;
        font-size: 0.9em;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        padding: 3px;
    }

    #about p:hover {
        color: #dfb305;
        font-size: 1em;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1;
        border-radius: 20px;
        padding: 6px;
        transition: .3s;
    }

    #p1 {
        width: 410px;
    }

    #p2 {
        width: 410px;
    }

    #about {
        height: auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 5em;
    }

    #contato h2 {
        font-size: 3em;
        font-weight: 700;
        letter-spacing: -0.04em;
    }

    #contato h3 {
        font-size: 1.9em;
        font-weight: 700;
        letter-spacing: -0.04em;
    }

    #contato p {
        font-size: 1.5em;
    }

    #contato p:hover {
        color: #dfb305;
        font-size: 1em;
    }

    #home .container .row .capa #carousel-spotify .carousel-inner .carousel-item img {
        width: 600px !important;
        height: 600px !important;
    }

    #linguica {
        height: 648px;
        border: 1px solid;
        margin-top: 30px;
        border-color: rgba(0, 0, 0, 0.0);
    }

    #images {
        border-radius: 25px;
        margin-left: -125px;
    }

    #images img {
        border-radius: 25px;
        margin-left: 200px;
        margin-bottom: -10px;
        width: 100%;
        height: auto;
        cursor: pointer !important;
        position: relative;
        z-index: 1;
    }

    #about p {
        color: #ccc;
        font-size: 0.9em;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        padding: 3px;
    }

    #about p:hover {
        color: #dfb305;
        font-size: 1em;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1;
        border-radius: 20px;
        padding: 6px;
        transition: .3s;
    }

    #p1 {
        width: 500px;
    }

    #p2 {
        width: 500px;
    }

    #about {
        height: auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {
        font-size: 6em;
    }

    #images {
        border-radius: 25px;
        margin-left: -50px;
    }

    #home .container .row .capa #carousel-spotify .carousel-inner .carousel-item img:hover {
        transform: scale(1.03);
        transition: .1s;
        margin-top: 10px;
        border-radius: 15px !important;
    }

    #images img {
        border-radius: 25px;
        margin-left: 200px;
        margin-bottom: -10px;
        width: 100%;
        height: auto;
        cursor: pointer !important;
        position: relative;
        z-index: 1;
    }
}

/*rodapé*/
footer {
    background: black;
    color: white;
    padding: 50px 0 20px 0;
    position: relative;
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover {
    color: #dfb305;
    font-size: 0.8em;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 5px;
}

#sobre {
    padding-top: 150px;
}

#contatos {
    background: url("../imagens/capa4.jpg"),
        linear-gradient(50deg, #e4d4a0, #ccc);
    height: 150px;
}

#fundo {
    background-color: #f5f5f5;
}

.container-lateral {
    /*deixando a div no centro da pagina*/
    align-items: center;
    justify-content: center;
}

#images {
    position: relative;
    width: 100%;
}


#images img:hover {
    transform: scale(1.1);
    transition: .3s;
}

#images img:hover {
    z-index: 2;
}

/*modal*/
#imagemModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

#imagemModalImg {
    max-height: calc(100vh - 50px);
    display: block;
    margin: 0 auto;
    padding: 0px;
}

/*#modal-fechar {
    color: #fff;
    position: relative;
    top: 40px;
    right: 30px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}*/

#modal-fechar:hover,
#modal-fechar:focus {
    color: #ccc;
    text-decoration: none;
    outline: none;
}

.modal-content {
    margin-top: -40px;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.modal-header {
    border: none;
}

.modal-body {
    text-align: center;
    padding: 0;
}

#icon {
    cursor: pointer !important;
}

footer img:hover {
    transform: scale(1.2);
    transition: .3s;
}